<!DOCTYPE html>

<html>

<head>

    <meta charset="UTF-8">

    <title>Document</title>

</head>

<body>

    <form action="/test2" method="post"> // method="post" : post 방식

        <p><input type="text" name="title"></p>

        <p><textarea name="desc"></textarea></p>

        <button type="submit">전송</button>

    </form>

</body>

</html>